<h2>Ajouter une image</h2>

<form action="/images/new" enctype="multipart/form-data" method="POST">
  <input type="text" placeholder="title" name="title" /><br />
  <input type="file" name="picture" /><br />
  <button type="submit">ajouter</button>
</form>

<div>
  <% if (uploadedImageName) { %>
  <div><%= uploadedImageName %></div>
  <img src="http://localhost:3000/images/<%= uploadedImageName %>" alt="" />
  <% } %>
</div>