<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h2>Ajouter une image</h2>

  <a href="http://localhost:3000/">accueil</a><br><br>


  <form action="/images/new" enctype="multipart/form-data" method="POST">
    <input type="text" placeholder="title" name="title" /><br />
    <input type="file" name="picture" /><br />
    <button type="submit">ajouter</button>
  </form>

  <div>
    <% if (uploadedImageName) { %>
    <div><%= uploadedImageName %></div>
    <img src="http://localhost:3000/images/<%= uploadedImageName %>" alt="<%= uploadedImageName %>" />
    <% } %>
  </div>
</body>

</html>